<header>
  LOGO
</header>

<div class="body">

  <div class="wrapper">

    <div class="menu">
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
    </div>

    <main>
      Title
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consequatur voluptate, pariatur molestias cupiditate est incidunt aspernatur quod delectus debitis impedit rem molestiae. Voluptates asperiores labore debitis, placeat ullam libero.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla dolorum repudiandae quasi exercitationem esse odio quidem culpa dolor sunt, consequatur laudantium id earum necessitatibus ducimus deserunt nisi sequi ab aliquam? Qui dolorem aut incidunt eveniet, quis atque libero adipisci explicabo nostrum praesentium, facere neque blanditiis. Ratione quisquam aperiam eveniet amet officia quis, esse maxime placeat laudantium fugiat corporis molestiae accusantium?Aliquid porro id temporibus ab molestiae adipisci in perferendis at dicta pariatur. Excepturi eius veniam magnam, voluptas ullam, ex maiores nobis dicta sunt perferendis esse. Commodi inventore culpa dolores unde.
      Itaque, ad. Impedit sed harum laboriosam excepturi dolores quasi amet mollitia, adipisci reprehenderit ipsum doloribus non consequuntur dolor odio perferendis commodi est voluptas dicta ab! Omnis assumenda dolores nostrum deserunt.</p>
    </main>
    

  </div>

  <footer>
    Link | Link | Link
  </footer>

</div>